{% extends "backoffice/base.html" %}
{% load i18n curio_tags %}
{% block title %}{% trans "Audio" %} – {{ block.super }}{% endblock %}
{% block content %}
    <div class="container">
        <h1>{% trans "Audio" %}</h1>
        <a href="{% url 'backoffice_audio_upload' %}">{% trans "Upload" %}</a>
        <div class="scroll-x:auto">
            <table class="data-table">
                <thead>
                    <tr>
                        <th>{% trans "Title" %}</th>
                        <th data-align="end">{% trans "Duration" %}</th>
                        <th data-align="end">{% trans "File size" %}</th>
                        <th>{% trans "Created" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for audio in audio_list %}
                        <tr>
                            <td><a href="{% url 'backoffice_audio_detail' audio.pk %}">{{ audio.title }}</a></td>
                            <td data-align="end">{{ audio.duration|duration|default:"–" }}</td>
                            <td data-align="end">{{ audio.file_size|filesizeformat }}</td>
                            <td>{{ audio.created_at }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="7">{% trans "No audio resources found." %}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
