{% extends "backoffice/base.html" %}
{% load i18n %}
{% block title %}{% trans "Delete" %} {{ audio.title }} – {{ block.super }}{% endblock %}
{% block content %}
  <div class="container mt-lh">
    <a href="{% url 'backoffice_audio_detail' audio.pk %}">{{ audio.title }}</a>
    <h1>{% trans "Delete audio" %}</h1>
    <p>{% blocktrans with title=audio.title %}Are you sure you want to delete "{{ title }}"?{% endblocktrans %}</p>
    <form method="post">
      {% csrf_token %}
      <button type="submit">{% trans "Delete" %}</button>
      <a href="{% url 'backoffice_audio_detail' audio.pk %}">{% trans "Cancel" %}</a>
    </form>
  </div>
{% endblock %}
