{% extends "backoffice/base.html" %}
{% load i18n curio_tags %}
{% block title %}{{ audio.title }} – {{ block.super }}{% endblock %}
{% block content %}
    <div class="container mt-lh">
        <a href="{% url 'backoffice_audio_list' %}">{% trans "Audio" %}</a>
        <h1>{{ audio.title }}</h1>
        <p><a href="{% url 'resource_detail' audio.pk %}">{% trans "Go to resource" %}</a></p>
        <audio class="audio-player" controls src="{{ audio.primary_file.file.url }}"></audio>
        <dl class="details">
            <dt>{% trans "File" %}</dt>
            <dd><a href="{{ audio.primary_file.file.url }}">{{ audio.primary_file.file.name }}</a></dd>
            <dt>{% trans "Duration" %}</dt>
            <dd>{{ audio.primary_file.duration|duration|default:"–" }}</dd>
            <dt>{% trans "File size" %}</dt>
            <dd>{{ audio.primary_file.file_size|filesizeformat }}</dd>
            <dt>{% trans "Created" %}</dt>
            <dd>{{ audio.created_at }}</dd>
        </dl>
        <a href="{% url 'backoffice_audio_delete' audio.pk %}">{% trans "Delete" %}</a>
    </div>
{% endblock %}
