{% extends "backoffice/base.html" %}
{% load i18n curio_tags %}
{% block title %}{% trans "Videos" %} – {{ block.super }}{% endblock %}
{% block content %}
  <div class="container">
    <h1>{% trans "Videos" %}</h1>
    <a href="{% url 'backoffice_video_upload' %}">{% trans "Upload" %}</a>
    <div class="scroll-x:auto">
      <table class="data-table">
        <thead>
          <tr>
            <th>{% trans "Title" %}</th>
            <th data-align="end">{% trans "Duration" %}</th>
            <th data-align="end">{% trans "Dimensions" %}</th>
            <th data-align="end">{% trans "File size" %}</th>
            <th>{% trans "Created" %}</th>
          </tr>
        </thead>
        <tbody>
          {% for video in video_list %}
            <tr>
              <td><a href="{% url 'backoffice_video_detail' video.pk %}">{{ video.title }}</a></td>
              <td data-align="end">{{ video.duration|duration|default:"–" }}</td>
              <td data-align="end">
                {% if video.width and video.height %}{{ video.width }}×{{ video.height }}{% else %}–{% endif %}
              </td>
              <td data-align="end">{{ video.file_size|filesizeformat }}</td>
              <td>{{ video.created_at }}</td>
            </tr>
          {% empty %}
            <tr>
              <td colspan="6">{% trans "No video resources found." %}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
