{% load i18n %}
<nav class="sidebar">
    <a class="sidebar__brand" href="{% url 'backoffice_dashboard' %}">
        <div class="media-object" style="--media-object-gap: 0.5rlh;">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" role="img" aria-label="Curio" width="36" height="36">
                <path d="M 76 28 A 32 32 0 1 0 76 72" fill="none" stroke="#1b1a17" stroke-width="8" stroke-linecap="round"></path>
                <circle cx="50" cy="92" r="5.2" fill="#b4471f"></circle>
            </svg>
            <div>
                <span class="sidebar__title">Curio</span><br>
                <span class="sidebar__subtitle">Backoffice</span>
            </div>
        </div>

    </a>

    <section class="sidebar__section">
        <h2 class="sidebar__section-heading">{% trans "Overview" %}</h2>
        <ul class="sidebar__nav" role="list">
            <li><a href="{% url 'backoffice_dashboard' %}" {% if request.resolver_match.url_name == 'backoffice_dashboard' %}aria-current="page"{% endif %}>{% trans "Dashboard" %}</a></li>
        </ul>
    </section>

    <section class="sidebar__section">
        <h2 class="sidebar__section-heading">{% trans "Content" %}</h2>
        <ul class="sidebar__nav" role="list">
            <li><a href="{% url 'backoffice_audio_list' %}" {% if 'backoffice_audio' in request.resolver_match.url_name %}aria-current="page"{% endif %}>{% trans "Audio" %}</a></li>
            <li><a href="{% url 'backoffice_image_list' %}" {% if 'backoffice_image' in request.resolver_match.url_name %}aria-current="page"{% endif %}>{% trans "Images" %}</a></li>
            <li><a href="{% url 'backoffice_video_list' %}" {% if 'backoffice_video' in request.resolver_match.url_name %}aria-current="page"{% endif %}>{% trans "Videos" %}</a></li>
        </ul>
    </section>
</nav>
