{% load i18n %}
<nav class="sidebar">
  <a class="sidebar__brand" href="{% url 'backoffice_dashboard' %}">
    <div class="media-object" style="--media-object-gap: 0.5rlh;">
      <svg xmlns="http://www.w3.org/2000/svg"
           viewBox="0 0 100 100"
           role="img"
           aria-label="Picura"
           width="48"
           height="48">
        <path d="M 30 60 A 20 20 0 0 1 70 60 Z" fill="#6b2e6b"></path>
        <line x1="8" y1="62" x2="92" y2="62" stroke="#1a1a1a" stroke-width="6" stroke-linecap="square"></line>
      </svg>
      <div>
        <span class="sidebar__title">Picura</span>
        <br>
        <span class="sidebar__subtitle">Backoffice</span>
      </div>
    </div>
  </a>
  <section class="sidebar__section">
    <h2 class="sidebar__section-heading">{% trans "Overview" %}</h2>
    <ul class="sidebar__nav" role="list">
      <li>
        <a href="{% url 'backoffice_dashboard' %}"
           {% if request.resolver_match.url_name == 'backoffice_dashboard' %}aria-current="page"{% endif %}>{% trans "Dashboard" %}</a>
      </li>
    </ul>
  </section>
  <section class="sidebar__section">
    <h2 class="sidebar__section-heading">{% trans "Content" %}</h2>
    <ul class="sidebar__nav" role="list">
      <li>
        <a href="{% url 'backoffice_batch_list' %}"
           {% if 'backoffice_batch' in request.resolver_match.url_name %}aria-current="page"{% endif %}>{% trans "Batches" %}</a>
      </li>
      <li>
        <a href="{% url 'backoffice_photo_list' %}"
           {% if 'backoffice_photo' in request.resolver_match.url_name %}aria-current="page"{% endif %}>{% trans "Photos" %}</a>
      </li>
      <li>
        <a href="{% url 'backoffice_album_list' %}"
           {% if 'backoffice_album' in request.resolver_match.url_name %}aria-current="page"{% endif %}>{% trans "Albums" %}</a>
      </li>
    </ul>
  </section>
  <section class="sidebar__section">
    <ul class="sidebar__nav" role="list">
      <li>
        <a href="{% url 'welcome' %}">{% trans "Public website" %}</a>
      </li>
    </ul>
  </section>
</nav>
