{% extends "backoffice/base.html" %}
{% load i18n %}
{% block title %}
  {% trans "Batch" %} {{ batch.created_at|date:"j N Y" }} – {{ block.super }}
{% endblock %}
{% block content %}
  <div class="container mt-lh mb-lh">
    <header class="header">
      <div class="header__breadcrumbs">
        <a href="{% url 'backoffice_batch_list' %}">{% trans "Batches" %}</a> /
        {{ batch.created_at|date:"j N Y, H:i" }}
      </div>
      <div class="header__main">
        <h1 class="header__title">{{ batch.created_at|date:"j N Y, H:i" }}</h1>
      </div>
    </header>
    <form method="post" action="{% url 'backoffice_batch_assign_to_album' batch.pk %}">
      {% csrf_token %}
      <div class="cluster mt-lh">
        {% for photo in photos %}
          <label class="photo-select">
            <input type="checkbox" name="photo_ids" value="{{ photo.pk }}">
            <img class="image-thumbnail" src="{{ photo.thumbnail_300.url }}" alt="{{ photo.title }}">
          </label>
        {% empty %}
          <p>{% trans "No photos in this batch." %}</p>
        {% endfor %}
      </div>
      {% if batch.photos.exists %}
        <div class="cluster mt-lh">
          <select name="album_id">
            {% for album in albums %}
              <option value="{{ album.pk }}">{{ album.name }}</option>
            {% empty %}
              <option disabled>{% trans "No albums" %}</option>
            {% endfor %}
          </select>
          <button class="button" type="submit">{% trans "Add to album" %}</button>
        </div>
      {% endif %}
    </form>
  </div>
{% endblock %}
