.details {
    display: grid;
    font-family: var(--font-serif);
    gap: 0.5rlh 1.5rlh;
    grid-template-columns: max-content 1fr;
    margin-block-end: 0;
    margin-block-start: 0;
}

.details dt {
    color: var(--color-ink-faded);
    font-family: var(--font-serif);
    font-style: italic;
}

.details dd {
    margin-left: 0;
}
