.details {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 0.25rlh 1.5rlh;
    font-size: 0.875rem;
    margin-block-start: 0;
    margin-block-end: 0;
}

.details dt {
    font-size: 0.75rem;
    font-weight: bold;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    opacity: 0.55;
}

.details dd {
    margin-left: 0;
}
