{% load i18n %}
<div class="c-photo-detail__spread">
  <section>
    <p class="c-photo-detail__label">{% trans "Description" %}</p>
    <p class="c-photo-detail__desc">{{ photo.description }}</p>
  </section>
  <section>
    <p class="c-photo-detail__label">{% trans "Capture" %}</p>
    <dl class="c-photo-detail__specs">
      {% if photo.exif %}
        <dt>{% trans "Camera" %}</dt>
        <dd>
          {{ photo.exif.camera_make }} {{ photo.exif.camera_model }}
        </dd>
        <dt>{% trans "Lens" %}</dt>
        <dd>
          {{ photo.exif.lens }}
        </dd>
        <dt>{% trans "Focal length" %}</dt>
        <dd>
          {{ photo.exif.focal_length }}mm
        </dd>
        <dt>{% trans "Aperture" %}</dt>
        <dd>
          f/{{ photo.exif.aperture }}
        </dd>
        <dt>{% trans "Shutter" %}</dt>
        <dd>
          {{ photo.exif.shutter_speed }}s
        </dd>
        <dt>{% trans "ISO" %}</dt>
        <dd>
          {{ photo.exif.iso }}
        </dd>
      {% endif %}
      <dt>{% trans "Dimensions" %}</dt>
      <dd data-mono>
        {{ photo.width }}×{{ photo.height }}
      </dd>
    </dl>
  </section>
  <section>
    <p class="c-photo-detail__label">{% trans "File" %}</p>
    <dl class="c-photo-detail__specs">
      <dt>{% trans "Filename" %}</dt>
      <dd data-mono>
        {{ photo.filename }}
      </dd>
      <dt>{% trans "File size" %}</dt>
      <dd>
        {{ photo.filesize }}
      </dd>
      <dt>{% trans "Uploaded by" %}</dt>
      <dd>
        {{ photo.uploader }}
      </dd>
      <dt>{% trans "License" %}</dt>
      <dd>
        {{ photo.license }}
      </dd>
    </dl>
  </section>
</div>
