{% load i18n %}
{% if resource.primary_file %}
    <div x-data="audioPlayer">
        <div>
            <audio controls src="{{ resource.primary_file.file.url }}"
                   @ended="onEnded($el)"></audio>
        </div>
        <div>
            <button class="icon-button"
                    @click="toggleRepeat()"
                    :aria-pressed="repeat"
                    aria-label="{% trans "Repeat" %}"
                    title="{% trans "Repeat" %}">
                {% include "icons/repeat.html" %}
            </button>
        </div>
    </div>
{% endif %}
